body{
   margin: 0;
   padding: 0;
    box-sizing: border-box;
}

.text-center{
    text-align: center;
}

.button{
    padding: 20px;
    margin-bottom: 2px;
    border-radius: 10px;
    width: 67px;
    background-color: rgb(28, 28, 28);
    color: white;
    font-weight: bold;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
    transform: scale(0.95);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

}

.row input{
    padding: 20px 21px;
    margin: 15px 0;
    font-size: 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
